[Desktop Entry]
Type=Application
Name=OpenQuant
Comment=Review and quantitation for LC-MS data (.wiff, .mzML)
Exec=INSTALLDIR/OpenQuant %F
Icon=openquant
Terminal=false
Categories=Science;Chemistry;
MimeType=application/x-wiff;application/x-mzml;
StartupWMClass=OpenQuant
